@model sistem_wisata.Models.Wisata

@{
    ViewData["Title"] = "Edit";
}

<h3>Ubah Data Tempat Wisata</h3>
<hr />
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Edit" enctype="multipart/form-data" method="post">
                    @Html.AntiForgeryToken()
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="Nama_Wisata" class="control-label">Nama Wisata</label>
                        <input asp-for="Nama_Wisata" class="form-control mb-2" />
                        <span asp-validation-for="Nama_Wisata" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="KategoriId" class="control-label">Kategori</label>
                        <select asp-for="KategoriId" class="form-control mb-2" asp-items="ViewBag.KategoriId"></select>
                        <span asp-validation-for="KategoriId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LokasiId" class="control-label">Lokasi</label>
                        <select asp-for="LokasiId" class="form-control mb-2" asp-items="ViewBag.LokasiId"></select>
                        <span asp-validation-for="LokasiId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Deskripsi" class="control-label"></label>
                        <textarea asp-for="Deskripsi" class="form-control mb-2"></textarea>
                        <span asp-validation-for="Deskripsi" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Foto_Wisata" class="control-label">Foto Wisata</label>
                        <input asp-for="Foto_Wisata" type="file" class="form-control mb-2" />
                        <span asp-validation-for="Foto_Wisata" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Simpan" class="btn btn-primary btn-sm" />
                        |<a asp-action="Index">Kembali ke list</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
