@model sistem_wisata.Models.Kategori

@{
    ViewData["Title"] = "Create Kategori";
}

<h3>Buat Data Kategori Baru</h3>
<hr />
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Nama_Kategori" class="control-label">Kategori</label>
                        <input asp-for="Nama_Kategori" class="form-control" />
                        <span asp-validation-for="Nama_Kategori" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary mt-2 mb-2 btn-sm"/>
                        |<a asp-action="Index">Kembali ke list</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
