@{
    Layout = "~/Views/Shared/_LayoutBack.cshtml"; // Specify the layout
}

<div class="content-1 card text-bg-dark">
    <img src="~/frontend/images/services-1.jpg" class="card-img" alt="...">
    <div class="card-img-overlay">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark navbar-fixed">
                <div class="container">
                    <a class="navbar-brand" href="{{url('/')}}">JawaTengah</a>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="{{url('/')}}">Beranda</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{url('/wisatas')}}">Wisata</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{url('/abouts')}}">Tentang Kami</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="row gx-0">
                <div class="col">
                    <hr class="border-light border-2 ">
                </div>
                <div class="col">
                    <hr class="border-danger border-2 ">
                </div>
                <div class="col">
                    <hr class="border-light border-2 ">
                </div>
            </div>

            <div class="font">
                <h2 class=" display-5 text-light text-center">TENTANG KAMI</h2>
                <p class=" display-5 text-light text-center">Selamat Datang diEksplorasiJawaTengah.com
            </div>
        </div>
    </div>
</div>



<div class="container">
    <div class="content-5">

        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url('/') }}">Beranda</a></li>
            <li class="breadcrumb-item">Tentang Kami</li>
            <li class="breadcrumb-item active" aria-current="page">Kategori</li>
        </ol>
    </div>
    <div class="content-7">

        <section class="ftco-section services-section">
            <div class="container">
                <div class="row d-flex">

                    <div class="col-md-6 order-md-last heading-section pl-md-4 d-flex align-items-center">
                        <div class="w-100">

                            <h2 class="mb-4">apa itu Eksplorasi JawaTengah.com?</h2>
                            <p>Selamat datang di dunia wisata yang penuh dengan keajaiban alam dan kekayaan budaya! Kami
                                hadir untuk membantu Anda dalam perjalanan tak terlupakan melintasi
                                destinasi-destinasi menakjubkan di seluruh penjuru dunia. Dari puncak gunung yang
                                menjulang hingga lembah yang hijau, dari kota-kota bersejarah hingga desa-desa
                                terpencil, setiap sudut planet ini menyimpan cerita yang menarik dan pengalaman yang
                                mengesankan.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12 col-lg-6 d-flex align-self-stretch">
                                <div class="services  services-1 d-block img"
                                    style="background-image: url(frontend/images/destination-1.jpg);filter: brightness(0.6);">
                                    <div class="m-5 d-flex align-items-center justify-content-center"></div>
                                    <div class="media-body">

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-6 d-flex align-self-stretch">
                                <div class="services services-1 d-block img"
                                    style="background-image: url(frontend/images/destination-2.jpg);filter: brightness(0.6);">
                                    <div class="m-5 d-flex align-items-center justify-content-center"></div>
                                    <div class="media-body">

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-6 d-flex align-self-stretch">
                                <div class="services services-1 d-block img"
                                    style="background-image: url(frontend/images/destination-3.jpg);filter: brightness(0.6);">
                                    <div class="m-5 d-flex align-items-center justify-content-center"></div>
                                    <div class="media-body">

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-6 d-flex align-self-stretch">
                                <div class="services services-1 d-block img"
                                    style="background-image: url(frontend/images/destination-4.jpg);filter: brightness(0.6);">
                                    <div class="m-5 d-flex align-items-center justify-content-center"></div>
                                    <div class="media-body">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>




    </div>
</div>
</div>