@model IEnumerable<sistem_wisata.Models.Wisata>

@{
    Layout = "~/Views/Shared/_LayoutBack.cshtml"; // Specify the layout
}

<div class="content-1 card text-bg-dark">
    <img src="~/frontend/images/destination-5.jpg" class="card-img" alt="...">
    <div class="card-img-overlay">
        <div class="container">
             <nav class="navbar navbar-expand-lg navbar-dark navbar-fixed">
                <div class="container">
                    <a class="navbar-brand" href="{{url('/')}}">JawaTengah</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item">
                               <a class="nav-link" asp-action="Index" asp-controller="Main">Beranda</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-action="Index" asp-controller="Destinasi">Wisata</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-action="Index" asp-controller="About">Tentang Kami</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="row gx-0">
                <div class="col">
                    <hr class="border-light border-2 ">
                </div>
                <div class="col">
                    <hr class="border-danger border-2 ">
                </div>
                <div class="col">
                    <hr class="border-light border-2 ">
                </div>
            </div>

            <div class="font">
                <h2 class=" display-5 text-light text-center">DESTINASI WISATA</h2>
                <p class=" display-5 text-light text-center">Nikmati Keindahan Alam DI JAWA TENGAH</p>
            </div>
        </div>
    </div>
</div>



<div class="container">
    <div class="content-4">
        <div class="">

            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ url('/') }}">Beranda</a></li>
                <li class="breadcrumb-item">Wisata</li>
                {{-- <li class="breadcrumb-item active" aria-current="page">Kategori</li> --}}
            </ol>
        </div>

        <div class="judul">
            <h1 class="a">Apa yang menjadikan Jawa Tengah ini tempat yang indah untuk dikunjungi.</h1>
            <p>Bersinggah di berbagai tempat di Jawa Tengah menjadikan tempat yang indah untuk dikunjungi.
                Keindahan pemandangan alam yang indah berpadu dengan berbagai keunikan budaya masyarakatnya. Nikmati
                pantai-pantai yang belum terjamah, gunung-gunung, danau-danau, dan masih banyak lagi destinasi menarik
                lainnya serta pemandangan kota-kota yang indah di seluruh negeri. Dan ketika Anda memutuskan untuk
                melihat semuanya, kunjungan saja tidak akan cukup untuk menikmati keajaiban Jawa Tengah.</p>
            <hr class="border-dark border-2 ">
            <h1 class="b">Jelajahi Berbagai Wisata diJawa Tengah</h1>
            
        <div class="row row-cols-1 row-cols-md-3 g-4">
         @foreach (var item in Model)
                        {
            <div class="col">
                <div class="card h-100">
                    <div class="img-hover-zoom">
                          <a href="@Url.Action("Show", "Destinasi", new { id = item.Id })">
                    <img src="@Url.Content("~/images/" + item.Foto_Wisata)" class="card-img-top" />
                </a>
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title">@item.Nama_Wisata</h5>
                    </div>
                </div>
            </div>
        }
        </div>
    </div>
</div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="{{ url('event_id_1') }}">1</a></li>
    <li class="page-item"><a class="page-link" href="{{ url('event_id_2') }}">2</a></li>
    <li class="page-item"><a class="page-link" href="{{ url('event_id_3') }}">3</a></li>
    <li class="page-item">
        <a class="page-link" href="{{ url('id_2') }}">Next</a>
    </li>
    </ul>
    </nav>


</div>
</div>
