@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Dashboard";
}

<div class="col-xxl-12 d-flex align-items-stretch">
    <div class="card w-100 overflow-hidden rounded-4">
        <div class="card-body position-relative p-4">
            <div class="row">
                <div class="col-12 col-sm-7">
                    <div class="d-flex align-items-center gap-3 mb-5">
                        <img src="https://placehold.co/110x110/png" class="rounded-circle bg-grd-info p-1" width="60"
                            height="60" alt="user">
                        <div class="">
                            <p class="mb-0 fw-semibold">Selamat Datang Kembali</p>
                            <h4 class="fw-semibold mb-0 fs-4 mb-0">@User.Identity?.Name!</h4>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-5">
                    <div class="welcome-back-img pt-4">
                        <img src="assets/images/gallery/welcome-back-3.png" height="140" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-12 col-lg-4 col-xxl-4 d-flex">
    <div class="card rounded-4 w-100">
        <div class="card-body">
            <div class="">
                <div class="d-flex align-items-center gap-2 mb-2">
                    <h5 class="mb-0 text-dark">Tabel Wisata</h5>
                </div>
                <p class="mb-4"></p>
                <div class="d-flex align-items-center justify-content-between">
                    <div class="">
                        <h3 class="mb-0 text-dark">@ViewBag.WisataCount</h3>
                        <p class="mb-3"></p>
                        <a asp-action="Index" asp-controller="wisata" class="btn btn-grd btn-secondary rounded-5 border-0 px-4">Detail</a>
                    </div>
                    <img src="assets/images/auth/reset-password1.png" width="100" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-12 col-lg-4 col-xxl-4 d-flex">
    <div class="card rounded-4 w-100">
        <div class="card-body">
            <div class="">
                <div class="d-flex align-items-center gap-2 mb-2">
                    <h5 class="mb-0 text-dark">Tabel lokasi</h5>
                </div>
                <p class="mb-4"></p>
                <div class="d-flex align-items-center justify-content-between">
                    <div class="">
                        <h3 class="mb-0 text-dark">@ViewBag.LokasiCount</h3>
                        <p class="mb-3"></p>
                        <a asp-action="Index" asp-controller="wisata" class="btn btn-grd btn-secondary rounded-5 border-0 px-4">Detail</a>
                    </div>
                    <img src="assets/images/auth/login1.png" width="100" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-12 col-lg-4 col-xxl-4 d-flex">
    <div class="card rounded-4 w-100">
        <div class="card-body">
            <div class="">
                <div class="d-flex align-items-center gap-2 mb-2">
                    <h5 class="mb-0 text-dark">Table Kategori</h5>
                </div>
                <p class="mb-4"></p>
                <div class="d-flex align-items-center justify-content-between">
                    <div class="">
                        <h3 class="mb-0 text-dark">@ViewBag.KategoriCount</h3>
                        <p class="mb-3"></p>
                        <a asp-action="Index" asp-controller="wisata" class="btn btn-grd btn-secondary rounded-5 border-0 px-4">Detail</a>
                    </div>
                    <img src="assets/images/auth/register1.png" width="100" alt="">
                </div>
            </div>
        </div>
    </div>
</div>